.u-section-1 {
  background-image: none;
  min-height: 778px;
}

.u-section-1 .u-image-1 {
  height: 678px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 29.89%;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: -176px auto 34px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  min-height: 242px;
  grid-gap: 30px 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 100px;
  width: 100px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 100px;
  width: 100px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 100px;
  width: 100px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 100px;
  width: 100px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 22.5px));
    min-height: 200px;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-1 .u-icon-2 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-1 .u-icon-3 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-1 .u-icon-4 {
    color: rgb(17, 17, 17) !important;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 463px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    height: 596px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 501px;
    object-position: 74.97% 50%;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-2 {
  background-image: url("images/68-689460_m.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 461px;
}

.u-section-2 .u-social-icons-1 {
  height: 169px;
  min-height: 16px;
  width: 516px;
  min-width: 58px;
  animation-duration: 1000ms;
  margin: 86px auto 60px;
}

.u-section-2 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-2 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-2 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 453px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 590px;
}

.u-section-3 .u-text-1 {
  width: 486px;
  margin: 86px auto 0;
}

.u-section-3 .u-gallery-1 {
  margin-top: 30px;
  margin-bottom: 60px;
  height: 375px;
}

.u-section-3 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-1 {
  width: 375px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-2 {
  width: 375px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-3 {
  width: 375px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-4 {
  width: 375px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-5 {
  width: 375px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-6 {
  width: 375px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 747px;
}

.u-section-4 .u-text-1 {
  font-size: 12.5rem;
  text-transform: uppercase;
  font-weight: 900;
  margin: 18px auto 0;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 4.5rem;
  margin: -143px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 70px auto 18px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 485px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 30px auto 0 0;
}

.u-section-4 .u-text-5 {
  margin: 6px auto 0 0;
}

.u-section-4 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 30px auto 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 179px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 428px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-form-1 {
  height: 395px;
  margin: 0 -60px 0 0;
}

.u-section-4 .u-form-group-4 {
  margin-left: 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 112px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 353px;
  }

  .u-section-4 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-4 .u-text-1 {
    font-size: 9.375rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 3.75rem;
    width: auto;
    margin-top: -115px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 43px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-6 {
    margin-right: 39px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1156px;
  }

  .u-section-4 .u-text-1 {
    font-size: 6.25rem;
    margin-top: 59px;
    margin-left: 43px;
    margin-right: 43px;
  }

  .u-section-4 .u-text-2 {
    font-size: 3rem;
    margin-top: -81px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 59px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 304px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-4 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 34px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
    margin-top: -59px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 63px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 191px;
  }
}.u-section-5 {
  background-image: linear-gradient(#4d4d4d, #60383a);
}

.u-section-5 .u-sheet-1 {
  min-height: 700px;
}

.u-section-5 .u-group-1 {
  width: 827px;
  min-height: 456px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 60px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 22px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 500;
  margin: 97px 8px 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.6;
  margin: 44px 8px 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.625rem;
  margin: 22px 8px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 7px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-5 .u-group-1 {
    width: 720px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-5 .u-group-1 {
    margin-left: 0;
    width: 340px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }
}